<layout name="Common/admin_layout" />
<form action="{:U()}" method="post" class="layui-form" style="padding:20px;">
    <div class="layui-form-item">
        <label class="layui-form-label">所属商品</label>
        <div class="layui-input-block">
            <select name="pid" lay-verify="required">
                <volist name="product" id="item">
                    <option value="{$item.id}" <eq name="data.pid" value="$item.id">selected</eq> >{$item.name}</option>
                </volist>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图片</label>
        <div class="layui-input-inline">
            <button type="button" class="layui-btn layui-btn-radius layui-btn-primary" id="upload-btn">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" id="path" name="path" value="{$data.path}">
            <input type="hidden" id="id" name="id" value="{$data.id}">
            <button class="layui-btn" lay-submit lay-filter="*" post-form=".layui-form">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    layui.use(['form', 'jquery', 'upload'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var upload = layui.upload;

        upload.render({
            elem: '#upload-btn',
            url: '{:U(\'File/ajaxUpload?type=SITEIMG\')}',
            done: function (res) {
                if (res.status == 1) {
                    layer.msg('上传成功');
                    $('#path').val(res.path);
                } else {
                    layer.msg(res.info);
                }
            },
            error: function () {
                //请求异常回调
                layer.msg('上传失败');
            }
        });

        form.render('select');

        form.on('submit(*)', function (data) {
            var post = data.field;
            var url = data.form.action;
            $.post(url, post, function (res) {
                if(res.status == 0) {
                    layer.msg(res.info);
                } else {
                    layer.msg(res.info, {time:1000}, function () {
                        layer.closeAll();
                    });
                }
            });
            return false;
        })
    });
</script>