<?php if(!IS_AJAX){ ?>
<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="menu-nav">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">用户管理</a>
                <dl class="layui-nav-child">
                    <dd data-url="{:U('User/index')}"><a href="javascript:;">用户列表</a></dd>
                    <dd data-url="{:U('User/order')}"><a href="javascript:;">订单列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">商品管理</a>
                <dl class="layui-nav-child">
                    <dd data-url="{:U('ProductCategory/index')}"><a href="javascript:;">商品分类</a></dd>
                    <dd data-url="{:U('Product/index')}"><a href="javascript:;">商品列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">账户管理</a>
                <dl class="layui-nav-child">
                    <dd data-url="{:U('Bank/index')}"><a href="javascript:;">账户列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">充值管理</a>
                <dl class="layui-nav-child">
                    <dd data-url="{:U('PayOrder/index')}"><a href="javascript:;">充值列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">系统设置</a>
                <dl class="layui-nav-child">
                    <dd data-url="{:U('Img/index')}"><a href="javascript:;">站点图片</a></dd>
                    <dd data-url="{:U('Conf/index')}"><a href="javascript:;">系统参数</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<?php } ?>