<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{$meta_title}</title>
    <link rel="stylesheet" href="__PUBLIC__/home/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/style.css">

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="__PUBLIC__/home/js/common.js"></script>
</head>
<body>
<div class="warn">
    <img src="__PUBLIC__/home/imgs/icon_4.jpg">
    严正警告：任何以“兼职”，“刷信誉”，“网购退款”，“提升额度”，“二手交易担保收款”为借口的必为诈骗行为，请高度警惕，谨防上当!
    <a href="javascript:void(0);" class="close">x</a>
</div>
<div id="header">
    <div class="top">
        <div class="contain">
            <span class="fr">
                <a href="{:U('User/index')}">会员中心</a> |
                <a href="{:U('PayOrder/create')}">充值</a>
                <notempty name="Think.const.UID">
                 | <a href="javascript:void(0);">站点余额：{$Think.const.UBLANCE}元</a>
                </notempty>
            </span>
            <div id="jl_usrBox">
                你好，欢迎来到{$confs.site_name}！
                <empty name="Think.const.UID">
                    <a href="{:U('User/register')}">注册</a> |
                    <a href="{:U('User/login')}">登录</a>
                <else />
                    <a href="javascript:void(0)">{$Think.const.UNAME}</a>
                    <a href="{:U('User/logout')}">退出</a>
                </empty>
            </div>
        </div>
    </div>
    <div class="contain">
        <a href="/">
            <img src="{$img['logo']['path']}" class="logo" width="218"
                 heigth="83">
        </a>
        <div class="search">
            <div class="searArea">
                <form action="{:U('Product/lists')}" method="get">
                    <input type="text" name="keyword" placeholder="" value="">
                    <input type="submit" value="搜索">
                </form>
            </div>
        </div>
    </div>
</div>