<layout name="Common/layout"/>
<div class="warp">
    <div class="person">
        <dl>
            <dt>请选择汇款账户</dt>
            <dd>
                <div style="height:45px;line-height:45px;">
                    <div style="width:30%;text-align:center;display:inline-block">
                        <input type="radio">
                        中国工商银行
                    </div>
                    <div style="width:30%;text-align:center;display:inline-block;">谢老大</div>
                    <div style="width:35%;text-align:center;display:inline-block;">66666666666666666666</div>
                </div>
                <div style="height:45px;line-height:45px;">
                    <div style="width:30%;text-align:center;display:inline-block">
                        <input type="radio">
                        中国工商银行
                    </div>
                    <div style="width:30%;text-align:center;display:inline-block;">谢老大</div>
                    <div style="width:35%;text-align:center;display:inline-block;">66666666666666666666</div>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>请填写汇款信息</dt>
            <dd class="address">
                <ul>
                    <li>
                        <span class="name"><span class="red">*</span>汇款金额：</span>
                        <span class="fill">
                            <input type="number"class="input_Single_1">
                        </span>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
</div>