<layout name="Common/layout"/>
<div id="wrap">
    <div class="admin">
        <div class="menu">
            <h3>用户中心</h3>
            <ul>
                <php>
                    if(ACTION_NAME == 'index') {
                        $index_sel = 'class="sel"';
                    } else if (ACTION_NAME == 'orderList') {
                        $order_sel = 'class="sel"';
                    }
                </php>
                <li><a href="{:U('User/index')}" {$index_sel}><span class="icoBg ico-1"></span>
                    <p>个人中心</p>我的个人信息</a></li>
                <li><a href="{:U('User/orderList')}" {$order_sel}><span class="icoBg ico-2"></span>
                    <p>我的订单</p>查看我的订单信息</a></li>
            </ul>
        </div>
        <div class="admin-wrap">
            <div style="height:150px" class="admin-info"><img src="__PUBLIC__/home/imgs/image_default.jpg" width="109"
                                                              height="109" class="fl">
                <div class="fl" style="padding-left:10px;">
                    <ul>
                        <li class="li-h">欢迎您 <span class="orange">{$data.username}</span> 来到{$confs.site_name}用户中心</li>
                        <li></li>
                        <li class="li-h">上次登陆: IP {$data.ip} <php>echo date('Y-m-d H:i:s', $data['updatetime']);</php></li>
                        <li></li>
                        <li class="li-h"><a href="{:U('User/changePwd')}">[修改密码]</a></li>
                    </ul>
                </div>
            </div>
            <h3>个人资料</h3>
            <div class="info-aiton">请填写正确的个人资料信息，方便我们及时联系您。</div>
            <div class="info-list">
                <form action="{:U()}" method="post" id="subForm">
                    <!--<h4>用户信息</h4>-->
                    <!--<ul>-->
                        <!--<li>-->

                            <!--<span class="name">用户id：</span>-->
                            <!--<span class="fill red font14 b">010001515613624306</span>-->
                            <!--<input type="hidden" name="userId" value="010001515613624306">-->
                        <!--</li>-->

                    <!--</ul>-->
                    <h4>高级信息</h4>
                    <ul>
                        <li>
                            <span class="name">邮箱：</span>
                            <span class="fill">
								<input type="text" name="email" class="email" value="{$data.email}">
                                <span style="color:red">收货邮箱请详细填写</span>
							</span>
                        </li>
                    </ul>
                    <h4>实名认证信息</h4>
                    <ul>
                        <li>
                            <span class="name">姓名：</span>
                            <span class="fill">
								<input type="text" name="realname" class="realName" value="{$data.realname}">
							</span>
                        </li>
                        <li>
                            <span class="name">身份证号码：</span>
                            <span class="fill">
								<input type="text" name="idcard" class="idnum" value="{$data.idcard}">
							</span>
                        </li>
                        <li>
                            <span class="name">银行卡号：</span>
                            <span class="fill">
								<input type="text" name="bankcard" class="idnum" value="{$data.bankcard}">
							</span>
                        </li>
                        <li>
                            <span class="name">所属银行：</span>
                            <span class="fill">
								<input type="text" name="bank" class="idnum" value="{$data.bank}">
							</span>
                        </li>
                        <li>
                            <span class="name">证件照：</span>
                            <span class="fill">
                                <notempty name="data.idcard_img">
                                    <img src="{$data.idcard_img}" id="img" style="width:300px;height:150px;border:1px solid #eee;">
                                <else />
                                    <input type="button" id="upload-btn" value="上传">
                                    <div class="img-box"></div>
                                    <input type="hidden" name="idcard_img" id="idcard_img" value="{$data.idcard_img}">
                                </notempty>
							</span>
                        </li>
                    </ul>
                    <eq name="data.bind_bank" value="0">
                        <p><input type="submit" id="sub-btn" post-form="#subForm" value="保存"></p>
                    </eq>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/home/js/jquery.upload.original.js"></script>
<script>
    $('#sub-btn').ajaxPost(function (res) {
        if(res.status == -1) {

        } else if (res.status == 0) {
            alert(res.info);
        } else {
            window.location.reload();
        }
    });
    $('#upload-btn').click(function () {
        var that = $(this);
        var text = that.text().trim();
        $.upload({
            url: '{:U("File/ajaxUpload?type=IDCARD")}',
            accept : 'image',
            dataType: 'json',
            onSend: function () {
                return true;
            },
            onSubmit: function () {
                that.attr('disabled',true);
                that.text('上传中...');
            },
            onComplate: function (data) {
                that.attr('disabled', false);
                that.text(text);
                if (data.status == 1) {
                    var html = '<img src="'+data.path+'" id="img" style="width:300px;height:150px;border:1px solid #eee;">';
                    $('.img-box').html(html);
                    $('#idcard_img').val(data.path);
                } else {
                    alert(data.info);
                }
            },
        });
    });
</script>