<layout name="Common/admin_layout"/>
<blockquote class="layui-elem-quote">
    <div class="layui-inline">
        <div class="layui-input-inline">
            <input value="" placeholder="请输入{$keyword}" class="layui-input search_input" type="text">
        </div>
        <a class="layui-btn search_btn">查询</a>
    </div>
    <div class="layui-inline">
        <a class="layui-btn layui-btn-normal add_btn">添加{$keyword}</a>
    </div>
</blockquote>
<table id="list" lay-filter="list"></table>
<script type="text/html" id="opBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="imgTpl">
    <a href="{{ d.img }}" target="_blank" class="layui-btn layui-btn-primary layui-btn-xs">查看</a>
</script>

<script>
    layui.use(['table', 'jquery', 'layer'], function () {
        var table = layui.table;
        var $ = layui.jquery;
        var layer = layui.layer;
        var url = "{:U('lists')}";

        var list = table.render({
            elem: '#list',
            url: url,
            page: true,
            cols: [[
                {field: 'name', title: '商品名称', align: 'center'},
                {field: 'cname', title: '所属分类', align: 'center'},
                {field: 'sale', title: '销量', align: 'center'},
                {field: 'price', title: '单价', align: 'center'},
                {title: '图片', align: 'center', templet: '#imgTpl', width: 100},
                {title: '操作', align: 'center', fixed: 'right', toolbar: '#opBar', width: 150}
            ]],
        });

        table.on('edit(list)', function (obj) {
            var sort = obj.value;
            var id = obj.data.id;
            var post = {id:id, sort:sort};
            var url = "{:U('sort')}";
            $.post(url, post, function (res) {
                if(res.status == 0) {
                    layer.msg(res.info);
                } else {
                    list.reload({
                        url: "{:U('lists')}"
                    });
                }
            });
        });

        table.on('tool(list)', function (obj) {
            var data = obj.data;
            var event = obj.event;

            if(event === 'edit') {
                var url = "{:U('edit')}";
                var get = {id:data.id};
                $.get(url, get, function (html) {
                    layer.open({
                        type: 1,
                        content: html,
                        area: ['600px', '600px'],
                        shadeClose: true
                    });
                });
            } else if (event === 'del') {
                layer.confirm('确认删除', function (index) {
                    var url = "{:U('delete')}";
                    var post = {id:data.id};
                    console.log(data);
                    $.post(url, post, function (res) {
                        if(res.status == 0) {
                            layer.msg(res.info);
                        } else {
                            layer.msg(res.info, {time:1000}, function () {
                                obj.del();
                                layer.close(index);
                            })
                        }
                    });
                });
            }

        });

        $('.search_btn').click(function () {
            var keyword = $('.search_input').val();
            var url = "{:U('search')}";
            list.reload({
                where: {
                    keyword: keyword
                },
                url: url
            });
        });

        $('.add_btn').click(function () {
            var url = "{:U('add')}";
            var data = {};
            $.get(url, data, function (html) {
                layer.open({
                    type: 1,
                    content: html,
                    area: ['600px', '600px'],
                    shadeClose: true
                });
            });
        });
    })
</script>