<layout name="Common/layout"/>
<div class="pro-list">
    <dl>
        <dt>
            <span class="title">商品查询列表</span>
            <span class="grayD">所有分类: 共 <span class="orange">7</span> 件商品</span>
        </dt>
        <dd>
            <ul>
                <li class="li-top">
                    <span class="img">
                        <a href="javascript:void(0);">名称</a>
                    </span>
                    <span class="des">&nbsp;</span>
                    <span class="num">
                        <a href="javascript:void(0);" class="grayD">已售数量</a>
                    </span>
                    <span class="price">
                        <a href="javascript:void(0);" class="grayD">销售价格</a>
                    </span>
                    <span class="control">&nbsp;</span>
                </li>
            </ul>
            <ul class="pro-list-cont">
                <volist name="list" id="item">
                    <li>
                    <span class="img">
                        <a href="{:U('Order/create?pid='.$item['id'])}" target="_blank">
                            <img src="{$item.img}" width="100" height="100">
                        </a>
                    </span>
                        <span class="des">
                        <a href="{:U('Order/create?pid='.$item['id'])}" class="font16 fn-text-overflow">{$item.name}</a>
                        <br>商品类型：卡密<br>
                        所属分类：{$item.cname}
                    </span>
                        <span class="num">{$item.sale}</span>
                        <span class="price">
                        <span class="font18 b red">{$item.price}</span> 元<br>
                        <span class="wrong">￥{$item.price}</span>
                    </span>
                        <span class="control">
                        <a href="{:U('Order/create?pid='.$item['id'])}" class="btnSumbit">立即购买</a>
                    </span>
                    </li>
                </volist>
            </ul>
        </dd>
    </dl>
</div>