<layout name="Common/layout"/>
<style>
    .index-sort > ul > li:last-child {
        border: 0;
    }
</style>
<div class="nav">
    <div class="contain" style="width:1000px;">
        <div class="title">全部商品分类</div>
        <ul gishop="word">
            <li><a href="/">首页</a></li>
            <volist name="category" id="item">
                <li><a href="{:U('Product/lists?cid='.$item['id'])}">{$item.name}</a></li>
            </volist>
        </ul>
    </div>
</div>
<div id="wrap" style="width:1000px;">
    <div class="index-sort">
        <ul>
            <volist name="category_product" id="list">
                <li gishop="category">
                    <h5>{$key}</h5>
                    <volist name="list" id="item">
                        <a href="{:U('Order/create?pid='.$item['id'])}" class="gray">
                            <span>{$item.name}</span>
                        </a>
                    </volist>
                </li>
            </volist>
        </ul>
    </div>
    <div class="index-show">
        <div class="img-roll">
            <div class="slide-main">
                <a href="{:U('Order/create?pid='.$img['banner']['pid'])}" target="_blank">
                    <img src="{$img['banner']['path']}" width="771" height="312" alt="">
                </a>
            </div>
        </div>
        <div class="img-quick">
            <a href="{:U('Order/create?pid='.$img['img1']['pid'])}" target="_blank">
                <img src="{$img['img1']['path']}" width="185" height="136">
            </a>
            <a href="{:U('Order/create?pid='.$img['img2']['pid'])}" target="_blank">
                <img src="{$img['img2']['path']}" width="185" height="136">
            </a>
            <a href="{:U('Order/create?pid='.$img['img3']['pid'])}" target="_blank">
                <img src="{$img['img3']['path']}" width="185" height="136">
            </a>
            <a href="{:U('Order/create?pid='.$img['img4']['pid'])}" target="_blank">
                <img src="{$img['img4']['path']}" width="185" height="136">
            </a>
        </div>
    </div>
    <!--<div class="index-pay">-->
        <!--<div gishop="pic" id="adVt10">-->
            <!--<a href="/" target="_blank">-->
                <!--<img width="230" height="146" src="__PUBLIC__/home/imgs/shenda-pay.jpg">-->
            <!--</a>-->
        <!--</div>-->
        <!--<dl id="payId">-->
            <!--<dt>-->
                <!--<a href="javascript:void(0);" class="payCont1 sel" onclick="menuSwitch('payId','payCont1');">卡密</a>-->
            <!--</dt>-->
            <!--<dd>-->
                <!--<form action="{:U('Order/create')}" method="get">-->
                <!--<ul id="payCont1">-->
                    <!--<li></li>-->
                    <!--<li></li>-->
                    <!--<li>-->
                        <!--<select name="pid" id="txt_callName" style="width:120px">-->
                            <!--<volist name="category_product" id="list">-->
                                <!--<volist name="list" id="item">-->
                                    <!--<option value="{$item.id}">{$item.name}</option>-->
                                <!--</volist>-->
                            <!--</volist>-->
                        <!--</select>-->
                    <!--</li>-->
                    <!--<li><input type="submit" value="立即充值"></li>-->
                <!--</ul>-->
                <!--</form>-->
            <!--</dd>-->
        <!--</dl>-->
    <!--</div>-->
    <br clear="all">
</div>
<script>
    function menuSwitch(id, rel) {
        $("#" + id).find("dt").find("a").removeClass("sel");
        $("#" + id).find("." + rel).addClass("sel");
        $("#" + id).find("ul").hide();
        $("#" + id).find(".recomShow").hide();
        $("#" + id).find("#" + rel).show();
    }
</script>